.carousel-container {
  height: 100%;
}

.carousel-container .ant-carousel {
  height: 100%;
}

.carousel-container .custom-dots {
  bottom: 48px !important;
}

.carousel-container .custom-dots li button {
  background: #6366f1 !important;
  opacity: 0.4;
}

.carousel-container .custom-dots li.slick-active button {
  opacity: 1;
}

.carousel-container .ant-carousel .slick-dots li button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.carousel-container .ant-carousel .slick-slide {
  text-align: center;
  overflow: hidden;
}

.carousel-container .ant-carousel .slick-slide img {
  max-height: 400px;
  object-fit: contain;
  margin: 0 auto;
}

.carousel-container .ant-carousel {
  width: 90%;
  margin: 0 auto;
} 